<!-- Footer -->
</main>
    <footer class="page-footer red">
        <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Student Housing Hub</h5>
                <p class="grey-text text-lighten-4">Student Housing Hub is a housing application made to help Queen's University students find off-campus
                housing easier. Created over the summer by a Queen's Student with hopes to save time for students of the future and increase the transparency between
                landlords and student tenants.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Need Help?</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">help@StudentHousingHub.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.queensu.ca">Queen's University Website</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Guide to choosing a house</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Copyright © 2019 Student Housing Hub
            </div>
        </div>
    </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
        
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);

                var dropdown = document.querySelectorAll('.dropdown-trigger');
                var ddInst = M.Dropdown.init(dropdown);

                var elems2 = document.querySelectorAll('select');
                var instances2 = M.FormSelect.init(elems2);

                var elems3 = document.querySelectorAll('.slider');
                var instances3 = M.Slider.init(elems3);

                var elems4 = document.querySelectorAll('.materialboxed');
                var instances4 = M.Materialbox.init(elems4);
                
                var elems5 = document.querySelectorAll('.parallax');
                var instances5 = M.Parallax.init(elems5);

                var collapsibleElem = document.querySelector('.collapsible');
                var collapsibleInstance = M.Collapsible.init(collapsibleElem);
            });
        </script>
    </body>
</html>