<% include ./partials/header %> 

<div class="parallax-container hide-on-med-and-down">
      <div class="bg-img"></div>
</div>

	<div class="container">
		<div class="default-page-spacing">			
			<div class="row">
				<div class="col-lg-6">
					<h1 id="main-title">Student Housing Hub</h1>
					<p class="main-paragraph mb-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p class="main-paragraph">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block">
					<h1 id="main-title">Student Housing Hub</h1>
					<p class="main-paragraph mb-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p class="main-paragraph">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div> 
			</div>	
		</div>



		<div class="row">
			<div class="col-4 p-md-3">
						<h5 class="red-text">Student Looking for Housing</h5>
						<p>For student looking for available houses to rent</p>
					<hr>
						<a href="#" class="btn btn-outline-success">Get Started!</a>	
			</div>
			<div class="col-4 p-md-3">
						<h5 class="red-text">Landlord Looking for Tenants</h5>
						<p>For landlords interested in leasing their house(s) to students</p>
					<hr>
						<a href="#" class="btn btn-outline-success">Get Started!</a>
			</div>
			<div class="col-4 p-md-3">
						<h5 class="red-text">Student Looking for Roomates</h5>
						<p>For students who are looking for other students to live with</p>
					<hr>
						<a href="#" class="btn btn-outline-success">Get Started!</a>
			</div>
		</div>
	</div>

<% include ./partials/footer %> 
